--
-- PostgreSQL database dump
--

\restrict 6cJW4iFbQmbc9YJuskL7Np6RfewUaOn4KTNGbaks7mEXZqnyM8rbyvdqaHfonhk

-- Dumped from database version 14.19
-- Dumped by pg_dump version 14.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_actions; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.admin_actions (
    id integer NOT NULL,
    admin_email character varying NOT NULL,
    action_type character varying NOT NULL,
    target_user_id integer NOT NULL,
    old_value text,
    new_value text,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_actions OWNER TO crm_user;

--
-- Name: admin_actions_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.admin_actions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_actions_id_seq OWNER TO crm_user;

--
-- Name: admin_actions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.admin_actions_id_seq OWNED BY public.admin_actions.id;


--
-- Name: ai_analyses; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.ai_analyses (
    id integer NOT NULL,
    customer_id uuid NOT NULL,
    message_id uuid,
    analysis_type character varying NOT NULL,
    input_data jsonb NOT NULL,
    output_data jsonb NOT NULL,
    confidence real,
    model_used character varying,
    handoff_triggered boolean DEFAULT false,
    handoff_reason text,
    processing_time real,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer NOT NULL
);


ALTER TABLE public.ai_analyses OWNER TO crm_user;

--
-- Name: ai_analyses_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.ai_analyses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_analyses_id_seq OWNER TO crm_user;

--
-- Name: ai_analyses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.ai_analyses_id_seq OWNED BY public.ai_analyses.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    entity_type character varying NOT NULL,
    entity_id character varying NOT NULL,
    action character varying NOT NULL,
    old_values jsonb,
    new_values jsonb,
    user_id integer,
    source character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO crm_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO crm_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: custom_entity_records; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.custom_entity_records (
    id integer NOT NULL,
    user_id integer NOT NULL,
    entity_type_id integer NOT NULL,
    data jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.custom_entity_records OWNER TO crm_user;

--
-- Name: custom_entity_records_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.custom_entity_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.custom_entity_records_id_seq OWNER TO crm_user;

--
-- Name: custom_entity_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.custom_entity_records_id_seq OWNED BY public.custom_entity_records.id;


--
-- Name: custom_entity_types; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.custom_entity_types (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.custom_entity_types OWNER TO crm_user;

--
-- Name: custom_entity_types_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.custom_entity_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.custom_entity_types_id_seq OWNER TO crm_user;

--
-- Name: custom_entity_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.custom_entity_types_id_seq OWNED BY public.custom_entity_types.id;


--
-- Name: custom_fields; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.custom_fields (
    id integer NOT NULL,
    entity_type_id integer NOT NULL,
    name character varying(100) NOT NULL,
    field_key character varying(100) NOT NULL,
    field_type character varying(50) NOT NULL,
    is_required boolean DEFAULT false,
    default_value text,
    is_searchable boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.custom_fields OWNER TO crm_user;

--
-- Name: custom_fields_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.custom_fields_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.custom_fields_id_seq OWNER TO crm_user;

--
-- Name: custom_fields_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.custom_fields_id_seq OWNED BY public.custom_fields.id;


--
-- Name: customer_stages; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.customer_stages (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    color character varying DEFAULT '#3B82F6'::character varying,
    order_index integer DEFAULT 0,
    is_default boolean DEFAULT false,
    card_display_fields jsonb DEFAULT '["name", "phone", "email"]'::jsonb,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customer_stages OWNER TO crm_user;

--
-- Name: customer_stages_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.customer_stages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customer_stages_id_seq OWNER TO crm_user;

--
-- Name: customer_stages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.customer_stages_id_seq OWNED BY public.customer_stages.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text,
    phone text,
    email text,
    status text,
    custom_fields jsonb DEFAULT '{}'::jsonb,
    photo_url character varying,
    last_message character varying,
    last_timestamp timestamp with time zone,
    unread_count integer DEFAULT 0,
    stage_id integer,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0,
    user_id integer NOT NULL
);


ALTER TABLE public.customers OWNER TO crm_user;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    content text NOT NULL,
    direction character varying NOT NULL,
    whatsapp_id character varying,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    ack integer DEFAULT 0,
    customer_id uuid NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.messages OWNER TO crm_user;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.settings (
    id integer NOT NULL,
    key character varying NOT NULL,
    value text,
    description character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer NOT NULL
);


ALTER TABLE public.settings OWNER TO crm_user;

--
-- Name: settings_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.settings_id_seq OWNER TO crm_user;

--
-- Name: settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.settings_id_seq OWNED BY public.settings.id;


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.subscription_plans (
    id integer NOT NULL,
    name character varying NOT NULL,
    display_name character varying NOT NULL,
    price real DEFAULT 0.0,
    max_customers integer,
    max_messages_per_month integer,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.subscription_plans OWNER TO crm_user;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.subscription_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.subscription_plans_id_seq OWNER TO crm_user;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.subscription_plans_id_seq OWNED BY public.subscription_plans.id;


--
-- Name: telegram_codes; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.telegram_codes (
    id integer NOT NULL,
    user_id integer NOT NULL,
    phone_code_hash character varying,
    sent_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.telegram_codes OWNER TO crm_user;

--
-- Name: telegram_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.telegram_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.telegram_codes_id_seq OWNER TO crm_user;

--
-- Name: telegram_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.telegram_codes_id_seq OWNED BY public.telegram_codes.id;


--
-- Name: telegram_sessions; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.telegram_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    session_key character varying NOT NULL,
    connected boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.telegram_sessions OWNER TO crm_user;

--
-- Name: telegram_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.telegram_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.telegram_sessions_id_seq OWNER TO crm_user;

--
-- Name: telegram_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.telegram_sessions_id_seq OWNED BY public.telegram_sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    name character varying,
    avatar_url character varying,
    google_id character varying,
    subscription_plan_id integer,
    subscription_status character varying DEFAULT 'active'::character varying,
    activated_by_admin boolean DEFAULT false,
    admin_notes text,
    last_login_at timestamp with time zone,
    trial_ends_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO crm_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO crm_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: whatsapp_sessions; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.whatsapp_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    session_key character varying NOT NULL,
    qr text,
    connected boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.whatsapp_sessions OWNER TO crm_user;

--
-- Name: whatsapp_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.whatsapp_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.whatsapp_sessions_id_seq OWNER TO crm_user;

--
-- Name: whatsapp_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.whatsapp_sessions_id_seq OWNED BY public.whatsapp_sessions.id;


--
-- Name: workflow_executions; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.workflow_executions (
    id integer NOT NULL,
    workflow_id integer NOT NULL,
    status character varying NOT NULL,
    triggered_by character varying NOT NULL,
    execution_data jsonb,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone,
    error_message text,
    user_id integer
);


ALTER TABLE public.workflow_executions OWNER TO crm_user;

--
-- Name: workflow_executions_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.workflow_executions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_executions_id_seq OWNER TO crm_user;

--
-- Name: workflow_executions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.workflow_executions_id_seq OWNED BY public.workflow_executions.id;


--
-- Name: workflow_node_templates; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.workflow_node_templates (
    id integer NOT NULL,
    node_type character varying NOT NULL,
    name character varying NOT NULL,
    description text,
    input_schema jsonb NOT NULL,
    output_schema jsonb NOT NULL,
    default_config jsonb NOT NULL,
    is_system boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.workflow_node_templates OWNER TO crm_user;

--
-- Name: workflow_node_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.workflow_node_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_node_templates_id_seq OWNER TO crm_user;

--
-- Name: workflow_node_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.workflow_node_templates_id_seq OWNED BY public.workflow_node_templates.id;


--
-- Name: workflow_step_executions; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.workflow_step_executions (
    id integer NOT NULL,
    execution_id integer NOT NULL,
    node_id character varying NOT NULL,
    node_type character varying NOT NULL,
    status character varying NOT NULL,
    branch_taken character varying,
    input_data jsonb,
    output_data jsonb,
    error_message text,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone,
    duration_ms integer
);


ALTER TABLE public.workflow_step_executions OWNER TO crm_user;

--
-- Name: workflow_step_executions_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.workflow_step_executions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_step_executions_id_seq OWNER TO crm_user;

--
-- Name: workflow_step_executions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.workflow_step_executions_id_seq OWNED BY public.workflow_step_executions.id;


--
-- Name: workflows; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public.workflows (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    nodes jsonb NOT NULL,
    edges jsonb NOT NULL,
    is_active boolean DEFAULT false,
    is_deleted boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer
);


ALTER TABLE public.workflows OWNER TO crm_user;

--
-- Name: workflows_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public.workflows_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflows_id_seq OWNER TO crm_user;

--
-- Name: workflows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public.workflows_id_seq OWNED BY public.workflows.id;


--
-- Name: admin_actions id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.admin_actions ALTER COLUMN id SET DEFAULT nextval('public.admin_actions_id_seq'::regclass);


--
-- Name: ai_analyses id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.ai_analyses ALTER COLUMN id SET DEFAULT nextval('public.ai_analyses_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: custom_entity_records id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_records ALTER COLUMN id SET DEFAULT nextval('public.custom_entity_records_id_seq'::regclass);


--
-- Name: custom_entity_types id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_types ALTER COLUMN id SET DEFAULT nextval('public.custom_entity_types_id_seq'::regclass);


--
-- Name: custom_fields id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_fields ALTER COLUMN id SET DEFAULT nextval('public.custom_fields_id_seq'::regclass);


--
-- Name: customer_stages id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customer_stages ALTER COLUMN id SET DEFAULT nextval('public.customer_stages_id_seq'::regclass);


--
-- Name: settings id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.settings ALTER COLUMN id SET DEFAULT nextval('public.settings_id_seq'::regclass);


--
-- Name: subscription_plans id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.subscription_plans ALTER COLUMN id SET DEFAULT nextval('public.subscription_plans_id_seq'::regclass);


--
-- Name: telegram_codes id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_codes ALTER COLUMN id SET DEFAULT nextval('public.telegram_codes_id_seq'::regclass);


--
-- Name: telegram_sessions id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_sessions ALTER COLUMN id SET DEFAULT nextval('public.telegram_sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: whatsapp_sessions id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.whatsapp_sessions ALTER COLUMN id SET DEFAULT nextval('public.whatsapp_sessions_id_seq'::regclass);


--
-- Name: workflow_executions id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_executions ALTER COLUMN id SET DEFAULT nextval('public.workflow_executions_id_seq'::regclass);


--
-- Name: workflow_node_templates id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_node_templates ALTER COLUMN id SET DEFAULT nextval('public.workflow_node_templates_id_seq'::regclass);


--
-- Name: workflow_step_executions id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_step_executions ALTER COLUMN id SET DEFAULT nextval('public.workflow_step_executions_id_seq'::regclass);


--
-- Name: workflows id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflows ALTER COLUMN id SET DEFAULT nextval('public.workflows_id_seq'::regclass);


--
-- Data for Name: admin_actions; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.admin_actions (id, admin_email, action_type, target_user_id, old_value, new_value, notes, created_at) FROM stdin;
\.


--
-- Data for Name: ai_analyses; Type: TABLE DATA; Schema: public; Owner: crm_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.audit_logs (id, entity_type, entity_id, action, old_values, new_values, user_id, source, created_at) FROM stdin;
\.


--
-- Data for Name: custom_entity_records; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.custom_entity_records (id, user_id, entity_type_id, data, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: custom_entity_types; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.custom_entity_types (id, user_id, name, description, is_active, created_at, updated_at) FROM stdin;
1	1	浜у搧 (绀轰緥)	鐢ㄤ簬绠＄悊浜у搧淇℃伅銆?t	2025-10-08 15:04:05+00	\N
\.


--
-- Data for Name: custom_fields; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.custom_fields (id, entity_type_id, name, field_key, field_type, is_required, default_value, is_searchable, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customer_stages; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.customer_stages (id, name, description, color, order_index, is_default, card_display_fields, user_id, created_at, updated_at) FROM stdin;
1	鏂板鎴?	#3B82F6	0	f	["name", "phone", "email"]	1	2025-10-08 15:16:08+00	2025-10-08 15:16:08+00
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.customers (id, name, phone, email, status, custom_fields, photo_url, last_message, last_timestamp, unread_count, stage_id, updated_at, version, user_id) FROM stdin;
96eb7f85-5593-409c-898d-8f098019ea47	Mk Gan	601168208639	\N	new	{}	https://pps.whatsapp.net/v/t61.24694-24/421698639_492600770138758_7787840062135942350_n.jpg?ccb=11-4&oh=01_Q5Aa2wHJqKA8ddFsMeeCSxY4AjH0GqJdw8VplGVlWL_tecg1jA&oe=68F4BF9D&_nc_sid=5e03e0&_nc_cat=103	hi	2025-10-09 10:49:11.063399+00	0	1	2025-10-09 10:50:02.267271+00	0	1
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: crm_user
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.settings (id, key, value, description, created_at, updated_at, user_id) FROM stdin;
1	encryption_key	oD7Wer1ujPnuR-kB0AHY4QLhTaJdD3Saw1Dewir1IsI=	\N	2025-10-08 15:04:10.712454+00	2025-10-08 15:04:10.712454+00	1
\.


--
-- Data for Name: subscription_plans; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.subscription_plans (id, name, display_name, price, max_customers, max_messages_per_month, is_active, created_at) FROM stdin;
1	Free Plan	Free Plan	0	10	100	t	2025-10-09 09:58:26.248699+00
\.


--
-- Data for Name: telegram_codes; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.telegram_codes (id, user_id, phone_code_hash, sent_at) FROM stdin;
\.


--
-- Data for Name: telegram_sessions; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.telegram_sessions (id, user_id, session_key, connected, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.users (id, email, name, avatar_url, google_id, subscription_plan_id, subscription_status, activated_by_admin, admin_notes, last_login_at, trial_ends_at, created_at, updated_at) FROM stdin;
1	mingkun1999@gmail.com	Ming Kun Gan	https://lh3.googleusercontent.com/a/ACg8ocJan6P1u6E1dAyZMf8UH5mosRXVDx6vHketVUy4PjyY1IGaOw=s96-c	108878942400294249605	1	active	f	\N	\N	\N	2025-10-08 15:03:52.288257+00	2025-10-08 15:03:52.288257+00
\.


--
-- Data for Name: whatsapp_sessions; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.whatsapp_sessions (id, user_id, session_key, qr, connected, created_at, updated_at) FROM stdin;
1	1	5d75ac36-9e8f-4870-85d8-7251442544d8	\N	t	\N	\N
\.


--
-- Data for Name: workflow_executions; Type: TABLE DATA; Schema: public; Owner: crm_user
--



--
-- Data for Name: workflow_node_templates; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public.workflow_node_templates (id, node_type, name, description, input_schema, output_schema, default_config, is_system, created_at) FROM stdin;
\.


--
-- Data for Name: workflow_step_executions; Type: TABLE DATA; Schema: public; Owner: crm_user
--



--
-- Data for Name: workflows; Type: TABLE DATA; Schema: public; Owner: crm_user
--



--
-- Name: admin_actions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.admin_actions_id_seq', 1, true);


--
-- Name: ai_analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.ai_analyses_id_seq', 5, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, true);


--
-- Name: custom_entity_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.custom_entity_records_id_seq', 1, true);


--
-- Name: custom_entity_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.custom_entity_types_id_seq', 1, true);


--
-- Name: custom_fields_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.custom_fields_id_seq', 1, true);


--
-- Name: customer_stages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.customer_stages_id_seq', 1, true);


--
-- Name: settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.settings_id_seq', 1, true);


--
-- Name: subscription_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.subscription_plans_id_seq', 1, true);


--
-- Name: telegram_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.telegram_codes_id_seq', 1, true);


--
-- Name: telegram_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.telegram_sessions_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: whatsapp_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.whatsapp_sessions_id_seq', 1, true);


--
-- Name: workflow_executions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.workflow_executions_id_seq', 6, true);


--
-- Name: workflow_node_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.workflow_node_templates_id_seq', 1, true);


--
-- Name: workflow_step_executions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.workflow_step_executions_id_seq', 28, true);


--
-- Name: workflows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public.workflows_id_seq', 1, true);


--
-- Name: admin_actions admin_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.admin_actions
    ADD CONSTRAINT admin_actions_pkey PRIMARY KEY (id);


--
-- Name: ai_analyses ai_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.ai_analyses
    ADD CONSTRAINT ai_analyses_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: custom_entity_records custom_entity_records_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_records
    ADD CONSTRAINT custom_entity_records_pkey PRIMARY KEY (id);


--
-- Name: custom_entity_types custom_entity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_types
    ADD CONSTRAINT custom_entity_types_pkey PRIMARY KEY (id);


--
-- Name: custom_entity_types custom_entity_types_user_id_name_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_types
    ADD CONSTRAINT custom_entity_types_user_id_name_key UNIQUE (user_id, name);


--
-- Name: custom_fields custom_fields_field_key_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_field_key_key UNIQUE (field_key);


--
-- Name: custom_fields custom_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_pkey PRIMARY KEY (id);


--
-- Name: customer_stages customer_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customer_stages
    ADD CONSTRAINT customer_stages_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: settings settings_key_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_key_key UNIQUE (key);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: subscription_plans subscription_plans_name_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_name_key UNIQUE (name);


--
-- Name: subscription_plans subscription_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_pkey PRIMARY KEY (id);


--
-- Name: telegram_codes telegram_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_codes
    ADD CONSTRAINT telegram_codes_pkey PRIMARY KEY (id);


--
-- Name: telegram_sessions telegram_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_sessions
    ADD CONSTRAINT telegram_sessions_pkey PRIMARY KEY (id);


--
-- Name: telegram_sessions telegram_sessions_session_key_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_sessions
    ADD CONSTRAINT telegram_sessions_session_key_key UNIQUE (session_key);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_sessions whatsapp_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT whatsapp_sessions_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_sessions whatsapp_sessions_session_key_key; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT whatsapp_sessions_session_key_key UNIQUE (session_key);


--
-- Name: workflow_executions workflow_executions_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_executions
    ADD CONSTRAINT workflow_executions_pkey PRIMARY KEY (id);


--
-- Name: workflow_node_templates workflow_node_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_node_templates
    ADD CONSTRAINT workflow_node_templates_pkey PRIMARY KEY (id);


--
-- Name: workflow_step_executions workflow_step_executions_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT workflow_step_executions_pkey PRIMARY KEY (id);


--
-- Name: workflows workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT workflows_pkey PRIMARY KEY (id);


--
-- Name: ai_analyses fk_ai_analyses_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.ai_analyses
    ADD CONSTRAINT fk_ai_analyses_customer_id FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: ai_analyses fk_ai_analyses_message_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.ai_analyses
    ADD CONSTRAINT fk_ai_analyses_message_id FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: ai_analyses fk_ai_analyses_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.ai_analyses
    ADD CONSTRAINT fk_ai_analyses_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs fk_audit_logs_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_audit_logs_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: custom_entity_records fk_custom_entity_records_entity_type_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_records
    ADD CONSTRAINT fk_custom_entity_records_entity_type_id FOREIGN KEY (entity_type_id) REFERENCES public.custom_entity_types(id);


--
-- Name: custom_entity_records fk_custom_entity_records_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_records
    ADD CONSTRAINT fk_custom_entity_records_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: custom_entity_types fk_custom_entity_types_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_entity_types
    ADD CONSTRAINT fk_custom_entity_types_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: custom_fields fk_custom_fields_entity_type_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT fk_custom_fields_entity_type_id FOREIGN KEY (entity_type_id) REFERENCES public.custom_entity_types(id);


--
-- Name: customer_stages fk_customer_stages_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customer_stages
    ADD CONSTRAINT fk_customer_stages_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: customers fk_customers_stage_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_stage_id FOREIGN KEY (stage_id) REFERENCES public.customer_stages(id);


--
-- Name: customers fk_customers_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages fk_messages_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_messages_customer_id FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: messages fk_messages_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_messages_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: settings fk_settings_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT fk_settings_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: telegram_codes fk_telegram_codes_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_codes
    ADD CONSTRAINT fk_telegram_codes_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: telegram_sessions fk_telegram_sessions_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.telegram_sessions
    ADD CONSTRAINT fk_telegram_sessions_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users fk_users_subscription_plan_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_subscription_plan_id FOREIGN KEY (subscription_plan_id) REFERENCES public.subscription_plans(id);


--
-- Name: whatsapp_sessions fk_whatsapp_sessions_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT fk_whatsapp_sessions_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: workflow_executions fk_workflow_executions_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_executions
    ADD CONSTRAINT fk_workflow_executions_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: workflow_executions fk_workflow_executions_workflow_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_executions
    ADD CONSTRAINT fk_workflow_executions_workflow_id FOREIGN KEY (workflow_id) REFERENCES public.workflows(id);


--
-- Name: workflow_step_executions fk_workflow_step_executions_execution_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT fk_workflow_step_executions_execution_id FOREIGN KEY (execution_id) REFERENCES public.workflow_executions(id);


--
-- Name: workflows fk_workflows_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT fk_workflows_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_subscription_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_subscription_plan_id_fkey FOREIGN KEY (subscription_plan_id) REFERENCES public.subscription_plans(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6cJW4iFbQmbc9YJuskL7Np6RfewUaOn4KTNGbaks7mEXZqnyM8rbyvdqaHfonhk

